# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Compiled Python files
*.pyc

# Compiled C++ files
*.out

# Application specific files
venv
node_modules
.sass-cache
yarn-error.log

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local Env files
.envrc

# AI Stuff
.claude

# Go stuff
__debug_bin*
