[submodule "files/vim/bundle/ack.vim"]
	path = files/vim/bundle/ack.vim
	url = git@github.com:mileszs/ack.vim.git
[submodule "files/vim/bundle/ctrlp.vim"]
	path = files/vim/bundle/ctrlp.vim
	url = git@github.com:ctrlpvim/ctrlp.vim.git
[submodule "files/vim/bundle/nerdtree"]
	path = files/vim/bundle/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule "files/vim/bundle/vim-airline"]
	path = files/vim/bundle/vim-airline
	url = git@github.com:vim-airline/vim-airline.git
[submodule "files/vim/bundle/vim-airline-themes"]
	path = files/vim/bundle/vim-airline-themes
	url = git@github.com:vim-airline/vim-airline-themes.git
[submodule "files/vim/bundle/vim-bundler"]
	path = files/vim/bundle/vim-bundler
	url = git@github.com:tpope/vim-bundler.git
[submodule "files/vim/bundle/vim-fugitive"]
	path = files/vim/bundle/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "files/vim/bundle/vim-gitgutter"]
	path = files/vim/bundle/vim-gitgutter
	url = git@github.com:airblade/vim-gitgutter.git
[submodule "files/vim/bundle/vim-nerdtree-tabs"]
	path = files/vim/bundle/vim-nerdtree-tabs
	url = git@github.com:jistr/vim-nerdtree-tabs.git
[submodule "files/vim/bundle/vim-pug"]
	path = files/vim/bundle/vim-pug
	url = git@github.com:digitaltoad/vim-pug.git
[submodule "files/vim/bundle/vim-rails"]
	path = files/vim/bundle/vim-rails
	url = git@github.com:tpope/vim-rails.git
[submodule "files/oh-my-zsh"]
	path = files/oh-my-zsh
	url = git@github.com:robbyrussell/oh-my-zsh.git
[submodule "files/vim/bundle/vim-coffee-script"]
	path = files/vim/bundle/vim-coffee-script
	url = git@github.com:kchmck/vim-coffee-script.git
[submodule "files/vim/bundle/syntastic"]
	path = files/vim/bundle/syntastic
	url = git@github.com:vim-syntastic/syntastic.git
[submodule "files/vim/bundle/vim-surround"]
	path = files/vim/bundle/vim-surround
	url = git@github.com:tpope/vim-surround.git
[submodule "files/vim/bundle/swift.vim"]
	path = files/vim/bundle/swift.vim
	url = git@github.com:keith/swift.vim.git
[submodule "files/vim/bundle/ag.vim"]
	path = files/vim/bundle/ag.vim
	url = git@github.com:rking/ag.vim.git
[submodule "files/vim/bundle/vim-go"]
	path = files/vim/bundle/vim-go
	url = git@github.com:fatih/vim-go.git
[submodule "files/vim/bundle/supertab"]
	path = files/vim/bundle/supertab
	url = git@github.com:ervandew/supertab.git
[submodule "files/vim/vim-vagrant"]
	path = files/vim/vim-vagrant
	url = git@github.com:hashivim/vim-vagrant.git
