[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Harrison
	email = h.borges10592@gmail.com
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	sw = switch
	pu = push
	pl = pull
[init]
	defaultBranch = main
[core]
    excludesFile = ~/.gitignore
    pager = delta
[delta]
    navigate = true
[merge]
    conflictstyle = zdiff3
[interactive]
    diffFilter = delta --color-only
[push]
	autoSetupRemote = true
[pull]
	rebase = true
