[core]
	pager = delta
	excludesFile = ~/.gitignore
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true # use n and N to move between diff sections
[merge]
	conflictstyle = zdiff3
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[user]
	name = Harrison B
	email = hborges005@gmail.com
[alias]
	co = checkout
	st = status
	sw = switch
	pu = pull
	pp = push
[push]
	autoSetupRemote = true
[pull]
	rebase = true
